<template>
  <div>
    <b-button :variant="estiloDoBotao" :class="estiloCSS" type="tipo" @click="disparaAcao()">{{ acao }}</b-button>
  </div>
</template>

<script>
export default {
  props: {
    tipo: {
      required: true,
      type: String
    },

    acao: {
      required: true,
      type: String
    },

    confirmacao: Boolean,

    estilo: String,

    estiloStyle: Boolean
  },

  methods: {
    disparaAcao() {
      console.log(typeof this.confirmacao);

      if (this.confirmacao) {
        if (confirm("Confirma operação?")) {
          this.$emit("botaoAtivado", new Date());
        }
        return;
      }
      this.$emit("botaoAtivado", new Date());
    }
  },

  computed: {
    estiloDoBotao() {
      if (this.estilo == "success") return "success";
      if (this.estilo == "danger") return "danger";
      if (this.estilo == "warning") return "warning";
    },

    estiloCSS() {
      if (this.estiloStyle) return "tamanho-botao";
      if (this.estiloStyle) return "botao-voltar";
    }
  }
};
</script>

<style scoped>
.botao {
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  margin: 10px;
  font-size: 1.2em;
}

.botao-voltar {
  background: blue;
  color: white;
}

.tamanho-botao {
  width: 91px;
}
</style>