<template>
  <div class="painel">
    <h4 class="painel-titulo" v-on:dblclick="visivel = !visivel" v-text="titulo"></h4>

    <transition name="painel-fade">
      <div v-show="visivel">
        <!-- Quando for false o v-show atribui display none -->
        <div class="imagem-conteudo" style="widht:100%">
          <slot name="imagem"></slot>
        </div>
        <!-- Tudo que tiver dentro da tag do componente cai no slot-->
        
        <slot></slot>
      </div>
    </transition>
  </div>
  <!-- fim painel -->
</template>

<script>
export default {
  props: ["titulo"],

  data() {
    return {
      visivel: true
    };
  }
};
</script>

<style scoped>
/* Os estilos serão aplicados somente ao elemento do componente */
/* estilo do painel */

.painel {
  padding: 0 auto;
  border: solid 2px grey;
  display: inline-block;
  margin: 5px;
  box-shadow: 5px 5px 10px grey;
  width: 200px;
  height: 100%;
  vertical-align: top;
  text-align: center;
}

.painel .painel-titulo {
  text-align: center;
  border: solid 2px;
  background: lightblue;
  margin: 0 0 15px 0;
  padding: 10px;
  text-transform: uppercase;
}

* {
  box-shadow: 5px 5px 5px;
}

.painel-fade-enter,
.painel-fade-leave-active {
  opacity: 0;
}

.painel-fade-enter-active,
.painel-fade-leave-active {
  transition: opacity 0.3s;
}

.imagem-conteudo {
  overflow: hidden;
}
</style>
<!--
painel-fade-enter // antes do elemento ser incluído ou removido, o estado atual
painel-fade-enter-active // quando o elemento esta sendo incluído
painel-fade-leave-active // quando o elemento esta sendo removido -->
