<template>
  <b-navbar type="dark" variant="dark">
    <b-navbar-nav>
      <b-nav-item v-for="rota in rotas" :key="rota.name">
        <router-link
          style="text-decoration: none;"
          v-bind:to="rota.path"
          v-text="rota.titulo"
        ></router-link>
      </b-nav-item>
      <!-- Navbar dropdowns -->
      <b-nav-item-dropdown text="User" right>
        <b-dropdown-item href="#">Account</b-dropdown-item>
        <b-dropdown-item href="#">Settings</b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
export default {
  props: {
    rotas: {
      type: Array,
      required: true
    }
  }
};
</script>

<style>
a {
  color: rgba(255, 255, 255, 0.5)
}

a:hover {
  color: rgba(255, 255, 255, 0.836);
  text-decoration: underline;
}
</style>
